.profile-page{

    background:#F8F6F2;

    padding:140px 8% 100px;

}

.profile-container{

    max-width:900px;

    margin:auto;

}

.profile-header{

    text-align:center;

    margin-bottom:50px;

}

.profile-avatar{

    width:120px;

    height:120px;

    border-radius:50%;

    background:#071D2F;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:3rem;

    font-weight:bold;

    margin:auto auto 25px;

}

.profile-header h1{

    font-family:Georgia, serif;

    color:#071D2F;

    margin-bottom:10px;

}

.profile-header p{

    color:#666;

}

.profile-header span{

    color:#999;

}

.profile-stats{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:25px;

    margin-bottom:50px;

}

.profile-stats div{

    background:white;

    border-radius:18px;

    padding:25px;

    text-align:center;

}

.profile-stats h2{

    color:#071D2F;

    font-size:2rem;

}

.profile-about,
.recent-activity{

    background:white;

    border-radius:20px;

    padding:35px;

    margin-bottom:30px;

}

.profile-about h2,
.recent-activity h2{

    font-family:Georgia, serif;

    color:#071D2F;

    margin-bottom:18px;

}

.recent-activity ul{

    padding-left:20px;

}

.recent-activity li{

    margin-bottom:12px;

    color:#555;

}