/* ==========================================
   FEED
========================================== */

.feed{

    width:100%;

}

.feed-header{

    display:flex;

    font-size:15px;

    justify-content:space-between;

    align-items:flex-end;

    margin-bottom:30px;

}

.feed-header h2{

    font-family:Georgia, serif;

    color:#071D2F;

    font-size:28px;

}

.feed-header span{

    color:#777;

    font-size:14px;

}

.feed-list{

    display:flex;

    flex-direction:column;

    gap:0;

}

/* ==========================================
   MOBILE
========================================== */

@media(max-width:768px){

.feed-header{

    flex-direction:column;

    align-items:flex-start;

    gap:8px;

}

}